/* Resets *******/
body {
  font-family: 'Baloo', cursive;
  color: #424242;
}

a,  a:visited{
  text-decoration: none;
  color: #424242;
}
a:hover {
  color: #9CCC65;
}

#brand a:hover {
  background-color: #9CCC65;
  color: #FAFAFA;
}

* {
  box-sizing: border-box;
}
/***** End of Resets *****/

/** Layouts **/
.container{
  margin: 2% 10%;
  display: flex;
}

.row{
  flex-direction: row;
}

header{
  padding: 1% 0;
  background-color: #FAFAFA;
}
#brand {
  flex-grow: 2;
}
/** End Layouts**/


#icons {
  padding: .2em .8em;
}

.fa {
  margin: 0 .3em;
}

#brand a {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: .6em;
  border: 2px solid rgb(245, 245, 245);
  padding: .2em .8em;

}

.text-content {
  text-align: center;
  margin: 50vh 0;
}
.text-content h1 {
  color: #9CCC65;
}
.text-content p {
  color: #BDBDBD;
}

.bg-1 {
  /*border: 1px solid black;*/
  background: url("../images/ina-NB.jpg")center no-repeat fixed;
  background-size: contain;
  width: 100%;
}
.bg-2 {
  align-items: center;
  /*border: 1px solid black;*/
  background: url("../images/received_10208602249042819.jpeg")center no-repeat fixed;
  background-size: contain;
  width: 100%;
  height: 1000px;
}
